@{
    ViewBag.Title = "About";
    ViewBag.Message = "This is an applicaton for a reqrutement position in Bit8.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This solution is containing seperated and well organised project for core functionality also there is an API and a WEB app inside the solution.
    It is a Student Managemet system where you can manage students asign them to semesters add disiplines and view scores and etc.
</p>

<p><strong>Keep in mind that i didn't waste any time on making it beautifull it's all about functionality!!!</strong></p>