@{
    ViewBag.Title = "Contact Me";
    ViewBag.Message = "Contact me if you'd like to continue the procces";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<h4>Toni Valtchev Valev</h4>
<address>
    <p><strong class="text-info">LinkedIn : </strong> <a href="www.linkedin.com/in/toni-walew-47587b127">Toni Walew</a></p>
    <p><strong class="text-warning">Gmail : </strong> <a href="mailto:t.valev1996@gmail.com">Email me</a> at: <strong>t.valev1996@gmail.com</strong></p>
    <p><strong class="text-success">Phone : </strong> <strong>0876876636</strong></p>

</address>

