@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Manager</h1>
    <p class="lead">Wellcome may the <strong class="text-success">FORCE</strong> be with you</p>
    <button class="btn btn-info">@Html.ActionLink("Learn More", "About", "Home")</button>
    <h3 class="text-center text-success">Enjoy!</h3>
</div>