
@{
    ViewBag.Title = "Semesters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-lg-offset-3 col-lg-6 text-center">
        <button id="reactivity-add" class="btn btn-sm btn-success">Add New Row</button>
        <button id="reactivity-delete" class="col-lg-offset-1 btn btn-sm btn-danger">Remove Row</button>
    </div>
</div>

<div id="example-table-theme" class="row"></div>
<script>

    $(document).ready(function () {
        getAll();
        var tabledata = [];
        var disciplines = [];
        var allDisciplines = [];
        $.get("http://localhost:54823/api/disciplines", function (data) {
            data.forEach(function (item) {
                allDisciplines.push({
                    label: item.name,
                    value: item.id
                });
            });
        });
        function updateSemester(data) {
            let discIds = []
            if (data.disciplineIds) {
                discIds.push(data.disciplineIds);
            }
            
            $.ajax({
                url: 'http://localhost:54823/api/semester',
                data: JSON.stringify({
                    'Id': data.id,
                    "Name": data.semesterName,
                    "StartDate": new Date(),
                    "EndDate": new Date(),
                    "addOrRemove": data.addOrRemove,
                    "disciplineIds": discIds
                    @*"DisciplineNames": data.disciplineNames*@
                }),
                success: function (result) {
                    getAll();
                },
                error: function (error) {
                    alert(error);
                },
                type: 'PATCH',
                contentType: 'application/json'
            });
        };

        var table = new Tabulator("#example-table-theme", {
            layout: "fitColumns",
            reactiveData: true,
            cellEdited: function (cell) {
                let data = cell.getRow().getData();
                if (cell._cell.column.definition.field === "disciplineAdd") {
                    data.addOrRemove = true;
                    data.disciplineIds = cell._cell.value;
                }
                else if (cell._cell.column.definition.field === "disciplineRemove") {
                    data.addOrRemove = false;
                    data.disciplineIds = cell._cell.value;
                }
                updateSemester(cell.getRow().getData());
            },
            columns: [
                { title: "ID", field: "id" },
                { title: "Semester Name", field: "semesterName", editor: "input" },
                { title: "Start Date", field: "startDate", editor: "input" },
                { title: "End Date", field: "endDate", editor: "input" },
                {
                    title: "Discipline Names", field: "disciplineNames"},
                {
                    title: "Add Disciplines", field: "disciplineAdd", editor: "select", editorParams: {
                        values: allDisciplines
                    }
                },
                {
                    title: "Remove Discipline", field: "disciplineRemove", editor: "select", editorParams: {
                        values: allDisciplines
                    }
                },
            ],
        });

        //add row to bottom of table on button click
        document.getElementById("reactivity-add").addEventListener("click", function () {
            var n = { Id: tabledata.length + 1, Name: "Semester Name", DisciplineIds: disciplines };
            $.ajax({
                url: 'http://localhost:54823/api/semester',
                type: 'POST',
                data: JSON.stringify({
                    id: tabledata.length + 1,
                    name: "Semester Name",
                    startDate: new Date(),
                    endDate: new Date(),
                    disciplineIds: disciplines
                }),
                contentType: 'application/json',
                success: function (result) {
                    var nT = { id: n.Id, semesterName: n.Name, disciplineNames: "" };
                    tabledata.push(nT);
                    getAll();
                },
                error: function (error) {
                    alert(error);
                }
            });
        });

        //remove bottom row from table on button click
        document.getElementById("reactivity-delete").addEventListener("click", function () {
            $.ajax({
                url: 'http://localhost:54823/api/semester',
                type: 'DELETE',
                data: JSON.stringify(tabledata.length),
                contentType: 'application/json',
                success: function (result) {
                    tabledata.pop();
                    getAll();
                },
                error: function (error) {
                    alert(error)
                    alert('An error occured when trying to delete Semester. Semester canno\'t be removed if there are student\'s assigned to it.');
                }
            });
        });

        function getAll() {
            $.get("http://localhost:54823/api/semester", function (data) {
                tabledata = data;
                for (var i = 1; i < data[0].disciplineNames.length + 1; i++) {
                    disciplines.push(i);
                }
                table.setData(data);
            });
        };
    });
</script>