
@{
    ViewBag.Title = "Top 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="example-table-theme" class="row"></div>

<script>

    $(document).ready(function () {

        var table = new Tabulator("#example-table-theme", {
            layout: "fitColumns",
            columns: [
                { title: "Name", field: "name" },
                { title: "Average Score", field: "averageScore", sorter: "number" }
            ],
        });
        
        $.get("http://localhost:54823/api/students/sets/top-ten", function (data) {
            table.setData(data);
        });

    });
</script>
